body {
    margin: 0;
    background-color: #f8f6f4;
}


@media screen and (max-width:768px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .header-container {
        height: 5vh;
        display: flex;
        flex-direction: row;
    }

    .logo-container {
        flex: 0;
        display: flex;
        padding: 10px;
    }

    .logo {
        height: 6vh;
        width: 6vh;
    }

    .title-container {
        flex: 0;
        display: flex;
        padding-left: 10px;
    }

    .title {
        font-family: 'Open Sans', sans-serif;
    }



    .base-info-container {
        height: 40vh; display: flex; flex-direction: column;
    }

    .base-info-header-container {
        flex: 1; display: flex; align-items: center; justify-content: flex-end;
    }

    .base-info-header {
        font-family: 'Open Sans', sans-serif; font-size: 5vw; font-weight: 900; text-align: center;
    }

    .base-info-body-container {
        flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;
    }

    .base-info-body-font {
        font-family: 'Open Sans', sans-serif; color: #0096FF; font-size: 3vw; font-weight: 900;
    }

    .apple-download-logo {
        height: 7vw; width: 20vw;
    }



    .details-container {
        height: 50vh;
        display: flex; 
        flex-direction: column; 
        background-image: linear-gradient(to left, #7f7fd5, #86a8e7);
    }

    .polaroid-container {
        display: flex; flex: 1; align-items: flex-end; justify-content: space-evenly;
    }

    .polaroid-title {
        font-family: 'Open Sans', sans-serif; color: white; font-size: 5vw; font-weight: 900;
    }

    .polaroid-details {
        font-size: 3vw; font-weight: 600;
    }

    .polaroid-left {
        height: 20vw; width: 15vw; border-radius: 15px; transform: rotate(-20deg);
    }

    .polaroid-right {
        height:20vw;width:15vw; border-radius: 15px; transform: rotate(20deg);
    }



    .streak-container {
        display: flex; flex: 1; align-items: flex-end; justify-content: space-evenly;
    }

    .streak-title {
        font-family: 'Open Sans', sans-serif; color: white; font-size: 5vw; font-weight: 900;
    }

    .streak-fire {
        height: 8vw; width: 8vw;
    }

    .streak-fire-yellow {
        height: 12vw; width: 12vw; color: yellow;
    }

    .streak-detail {
        font-size: 2.5vw; font-weight: 600;
    }



    .gen-message-container {
        display: flex; flex: 1; align-items: center; justify-content: center;
    }

    .gen-message {
        font-family: 'Open Sans', sans-serif; color: white; font-size: 3vw; font-weight: 900;
    }




    .footer-container {
        height: 20vh; display: flex; flex-direction: row; background-image: linear-gradient(to left, #7f7fd5, #86a8e7); align-items: center; justify-content: space-evenly;
    }

    .terms {
        text-decoration: none; color: black; font-family: 'Open Sans', sans-serif; font-size: 3vw; font-weight: 900;
    }

    .social-icon {
        height: 5vw; width: 5vw; border-radius: 5px;
    }

    .rights {
        color: black; font-family: 'Open Sans', sans-serif; font-size: 2.5vw; font-weight: 900;
    }

}

@media screen and (min-width:769px) {

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .header-container {
        height: 10vh;
        display: flex;
        flex-direction: row;
    }
    .logo-container {
        flex: 0;
        display: flex;
        padding: 10px;
    }
    .logo {
        height: 7vh;
        width: 7vh;
    }
    .title-container {
        flex: 0;
        display: flex;
        padding-left: 10px;
    }
    .title {
        font-family: 'Open Sans', sans-serif;
    }



    .base-info-main-container {
        height: 100vh; display: flex; flex-direction: row;
    }
    .base-polaroid-container {
        flex: 1; 
        display: flex;
        flex-direction: column;
    }
    .base-polaroid-info-container {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .base-polaroid-video-container {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    video {
        height: 100%;
        border-radius: 2vw;
    }
    .video-title {
        font-family: 'Open Sans', sans-serif; font-size: 1.5vw; font-weight: 900;
    }
    .base-info-container {
        flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;
    }
    .base-info-header {
        font-family: 'Open Sans', sans-serif; font-size: 2.5vw; font-weight: 900; color: #7f7fd5;
    }
    .base-info-body-font {
        font-family: 'Open Sans', sans-serif; color: #7f7fd5;; font-size: 1.5vw; font-weight: 900;
    }
    .apple-download-logo {
        height:5vw; width:15vw;
    }



    .how-it-works-container {
        height: 100vh;
        display: flex; 
        flex-direction: row; 
        background-image: linear-gradient(to left, #FF5757, #8C52FF);
    }
    .profile-pic-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-container {
        flex: 2;
        display: flex;
        flex-direction: column;
    }
    .profile-header-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-header-font {
        font-family: 'Open Sans', sans-serif; color: white;; font-size: 2vw; font-weight: 900;
    }
    .profile-details-font {
        font-family: 'Open Sans', sans-serif; color: white;; font-size: 1.5vw; font-weight: 600;
    }
    .profile-img {
        height: 60%;
        border-radius: 2vw;
    }



    .streak-container {
        height: 70vh; display: flex; flex-direction: row;
    }
    .streak-fire-container {
        flex: 1; display: flex; justify-content: center; align-items: center;
    }
    .streak-fire-font {
        font-family: 'Open Sans', sans-serif; color: black; font-size: 3vw; font-weight: 900;
    }
    .streak-matches-img {
        width: 70%;
        border: #86a8e7 solid;
        border-radius: 2vw;
    }
    .streak-details-container {
        flex: 2; display: flex; justify-content: center; align-items: center; flex-direction: column;
    }
    .streak-title {
        font-family: 'Open Sans', sans-serif; color: black; font-size: 3vw; font-weight: 900;
    }
    .streak-detail {
        font-family: 'Open Sans', sans-serif; color: black; font-size: 1.5vw; font-weight: 600;
    }
    .streak-fire {
        height: 5vw; width: 5vw;
    }
    .streak-fire-yellow {
        height: 10vw; width: 10vw; color: yellow;
    }



    .gen-message-container {
        height: 100vh; display: flex; flex-direction: row; 
        background-image: linear-gradient(to left, #7f7fd5, #86a8e7);
    }
    .gen-message-text-container {
        flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;
    }
    .gen-message-img-container {
        flex: 1; display: flex; justify-content: center; align-items: center;
    }
    .gen-message-title {
        font-family: 'Open Sans', sans-serif; color: black; font-size: 2vw; font-weight: 900;
    }
    .gen-message-detail {
        font-family: 'Open Sans', sans-serif; color: white; font-size: 1.5vw; font-weight: 600;
    }
    .gen-img {
        height: 60%;
        width: 40%;
        border-radius: 2vw;
    }



    .footer-container {
        height: 30vh;display: flex; flex-direction: row; background-image: linear-gradient(to left, #7f7fd5, #86a8e7); align-items: center; justify-content: space-evenly;
    }

    .terms {
        text-decoration: none; color: black; font-family: 'Open Sans', sans-serif; font-size: 1.5vw; font-weight: 900;
    }

    .social-icon {
        height: 3vw; width: 3vw; border-radius: 10px;
    }

    .rights {
        color: black; font-family: 'Open Sans', sans-serif; font-size: 1.5vw; font-weight: 900;
    }

}